# this is the standard template we use in prodcuction grade projects, you can also use this environment variable template

OPENAI_API_KEY=your_openai_api_key_here
AZURE_OPENAI_API_KEY=your_azure_openai_api_key_here
AZURE_OPENAI_ENDPOINT=your_azure_openai_endpoint_here
AZURE_OPENAI_DEPLOYMENT=your_deployment_name_here
TAVILY_API_KEY=your_tavily_api_key_here
